.banner {
    position: relative;

    &-slide {
        .item {
            height: 520px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @media(max-width:1023.98px) {
                height: 380px;
            }
        }

        .slick-dots {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 20px;

            li {
                padding: 0;
                line-height: 1;
                list-style: none;
                display: inline-block;
                margin: 0 5px;
                width: auto;
                height: auto;

                button {
                    background: #fff;
                    opacity: .6;
                    width: 15px;
                    height: 15px;
                    overflow: hidden;
                    line-height: 1;
                    font-size: 0;
                    border-radius: 50%;

                    &::before {
                        content: '';
                    }
                }

                &.slick-active button {
                    opacity: 1;
                }
            }
        }
    }

    &-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 100%;
    }

    &-page {
        .banner-slide {
            .item {
                height: 580px;
                max-height: 30vh;

                @media(min-width:992px) {
                    height: 60vh;
                    max-height: 60vh;
                }

                @media(max-width:576px) {
                    height: auto;
                }
            }
        }
    }

    .breadcrumbs {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;

        .breadcrumb {
            font-size: .875rem;
            padding: 5px 0;
            width: 100%;
            background-color: transparent;
            color: #fff;

            span {
                text-transform: capitalize;
                margin: 0 5px;

                &:first-child {
                    margin-left: 0;
                }

            }

            a {
                color: inherit;

            }
        }
    }
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}


/* Featured tours */
.featured-tours {
    padding: 60px 0;
}

.tour-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-bottom: 40px;
}

.tour-card-inner {
    border: 1px solid #ebebeb;
    box-shadow: 0 5px 5px var(--bg-tab-heading);
    height: 100%;

    .tour-image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 6/4;
        }
    }

    .tour-info {
        padding: 15px;

        .list-cat {
            margin-bottom: 10px;

            a {
                color: var(--des-color);
                font-size: .875rem;
            }
        }

        .tour-title {
            font-size: 1.125rem;
            min-height: 45px;
            line-height: 1.2;
            font-weight: 600;
            margin-bottom: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;

            a {
                color: var(--primary-color);
                line-height: inherit;

                &:hover {
                    color: var(--second-color);
                }
            }

            @media(max-width:767.98px) {
                min-height: auto;
            }
        }
    }

    @media(max-width:767.98px) {
        display: flex;

        .tour-image {
            width: 40%;
            flex-shrink: 0;
        }

        .tour-info {
            padding: 15px;
            flex-grow: 1;
        }
    }
}

.list-tours {
    .tour-card {
        margin-bottom: 30px;
    }
}



/* Tour categories */
.tour-categories {
    padding: 60px 0;
    background-color: #f8f8f8;
    text-align: center;
}


.category-grid {
    columns: 3;

    @media(max-width:767.98px) {
        columns: 1;
    }
}

.category-card {
    position: relative;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    .box-image {
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 350ms;
        }
    }

    .box-content {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        text-align: left;
        justify-content: flex-end;
        padding: 15px 25px 10px;
        background-color: transparent;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, rgba(84, 89, 95, .51) 100%);
        color: #fff;
        display: flex;
        flex-direction: column;
    }

    &:hover {
        .box-image {
            img {
                transform: scale(1.05);
                transition: transform 0.3s ease-in-out;
            }
        }
    }
}

/* Humanitarian section */
.humanitarian {
    padding: 60px 0;
    text-align: center;

    &-wrap {
        position: relative;
        background-color: #f4f4f4;
        transition: background .3s,
            border .3s,
            border-radius .3s,
            box-shadow .3s;
        padding: 0 5%;

        &-inner {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-start;

            &-container {
                margin-top: 8%;
                margin-bottom: -10%;
                padding: 0 9%;
                z-index: 2;
            }
        }
    }

    .section-heading {
        .subtitle {
            text-align: center;
            color: #1a1a1a;
            font-family: "Roboto",
                Sans-serif;
            font-size: 20px;
            font-weight: 400;
            text-transform: none;
            font-style: normal;
            text-decoration: none;
            line-height: 1.3em;
            letter-spacing: 1px;
            width: 80%;
            max-width: 80%;
            margin: 0 auto;
            margin-bottom: 25px;

            @media(max-width:1023.98px) {
                font-size: 16px;
            }

            @media(max-width:767.98px) {
                width: 100%;
                max-width: 100%;
                font-size: 14px;
            }
        }
    }

    &-container-wrap {
        max-width: 720px;
        margin: 0 auto;
        padding: 50px 0;
    }

    &-grid {
        position: relative;
        margin-top: 10%;

        @media(max-width:1023.98px) {
            margin-top: 35%;
            margin-bottom: 0;
            padding: 0 12%;
        }
    }

    &-item {
        position: relative;
        display: flex;
        align-items: center;
        align-content: center;
        margin-top: 5%;

        .icon-box {
            &-wrapper {
                text-align: center;

                @media(min-width:768px) {
                    display: flex;
                    align-items: center;
                    text-align: left;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                    flex-direction: row;
                }

            }

            &-icon {
                margin-right: 60px;

                .elementor-icon {
                    display: inline-block;
                    font-size: 125px;
                    fill: #2E871C52;
                    color: #2E871C52;
                    border-color: #2E871C52;

                    svg {
                        width: 1em;
                        height: 1em;
                        position: relative;
                        display: block;
                    }

                    @media(max-width:1023.98px) {
                        font-size: 90px;
                    }
                }

                @media(min-width:768px) {
                    display: inline-flex;
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 auto;
                    flex: 0 0 auto;
                }

                @media(max-width:767.98px) {
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 15px;
                }
            }

            &-content {
                flex-grow: 1;

                .box-title {
                    font-family: "Karla",
                        Sans-serif;
                    font-size: 22px;
                    font-weight: 600;
                    text-transform: none;
                    font-style: normal;
                    text-decoration: none;
                    line-height: 1em;
                    letter-spacing: 0px;
                    margin-bottom: 17px;
                    color: #000;

                    @media(max-width:1023.98px) {
                        font-size: 22px;
                        margin-bottom: 10px;
                    }

                    @media(max-width:767.98px) {
                        font-size: 18px;
                    }
                }

                .box-desc {
                    color: #5d5d5d;
                    font-family: "Karla",
                        Sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    text-transform: none;
                    font-style: normal;
                    text-decoration: none;
                    line-height: 1.3em;
                    letter-spacing: 0px;
                    margin-bottom: 0;

                    @media(max-width:1023.98px) {
                        font-size: 14px;
                    }
                }
            }
        }

        &-number {
            position: absolute;

            .title-number {
                margin: 0 0 0 40px;
                color: #2e871c;
                font-family: "DM Sans",
                    Sans-serif;
                font-size: 80px;
                font-weight: 700;
                text-transform: none;
                font-style: normal;
                text-decoration: none;
                line-height: 1em;
                letter-spacing: 0px;
            }

            @media(max-width:1023.98px) {
                width: 100%;
                text-align: center;
                top: 20px;

                .title-number {
                    margin: 0;
                    font-size: 60px;
                }
            }
        }
    }
}

.elementor-shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;

    svg {
        display: block;
        width: calc(100% + 1.3px);
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .elementor-shape-fill {
        fill: #fff;
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

.elementor-shape-bottom {
    bottom: -1px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    z-index: 2;
    pointer-events: none;

    svg {
        z-index: -1;
        height: 96px;
    }
}

/* Testimonials */
.testimonials {
    position: relative;
    background-image: url(../images/bg-testi.jpg);
    background-position: center center;
    background-size: cover;
    transition: background .3s,
        border .3s,
        border-radius .3s,
        box-shadow .3s;
    padding: 90px 0;

    .box-text {
        transition: background .3s,
            border .3s,
            border-radius .3s,
            box-shadow .3s;
        padding: 40px 80px 60px;
        background-color: #fff;

        .box-title {
            font-family: var(--second-font);
            color: #000;
            font-size: 42px;
            text-align: center;
        }

        @media(max-width:767.98px) {
            padding: 40px;
        }
    }

    @media(min-width:768px) {
        .elementor-col-33 {
            flex: 0 0 38.509%;
            max-width: 38.509%;
        }
    }

    @media(min-width:768px) and (max-width: 1023.98px) {
        .elementor-col-33 {
            flex: 0 0 60%;
            max-width: 60%;
        }
    }
}

/* About section */
.about {
    &-image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;


        }
    }

    &-content {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;

        .desc {
            margin-bottom: 20px;
        }

        .gr-btn {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }
    }

    &-team {
        position: relative;
        display: block;

        &-image {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

                @media(max-width:1023.98px) {
                    height: 400px;
                }
            }

        }

        &-content {
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            width: 100%;
            flex-direction: column;
            text-align: center;
            justify-content: flex-end;
            padding: 30px;
            transition: all 300ms;

            .btn {
                border-radius: 26px;
                background-color: var(--accent-color);
                color: #fff;
                font-weight: 500;
                padding: 10px 20px;

                &:hover {
                    background-color: var(--hover-accent-color);
                }
            }
        }

        @media(max-width:1023.98px) {
            margin-top: 15px;
        }
    }
}



.reasons-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.reason-item {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    text-align: center;

    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .icon-box {
            font-size: 60px;
            color: var(--accent-color);
            padding: 0 0 20px;

            i {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
            }
        }

        .title {
            color: #000;
            font-size: 20px;
            font-weight: 400;
            margin: 0;
        }

        @media(max-width:767.98px) {
            justify-content: flex-start;

            .icon-box {
                padding: 0;
            }
        }
    }
}


/* Stats section */
.stats {
    background-image: url(../images/horizon-vietnam-agence-de-voyage-locale.jpg);
    background-position: bottom center;
    background-size: cover;
    transition: background .3s,
        border .3s,
        border-radius .3s,
        box-shadow .3s;
    padding: 80px 0 220px;
    position: relative;

    &-item {
        text-shadow: 5px 8px 8px rgba(0, 0, 0, .5);
        position: relative;
        margin-bottom: 30px;

        .number {
            display: flex;
            justify-content: center;
            color: #fff;
            font-size: 50px;
            line-height: 1.4em;
            font-weight: 600;

            &-prefix,
            &-suffix {
                white-space: pre-wrap;
                flex-grow: 0;
            }
        }

        .label {
            text-align: center;
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            text-shadow: 5px 8px 8px rgba(0, 0, 0, .5);
            line-height: 2.5;
        }
    }
}



/* Guarantees */
.guarantees {
    position: relative;
}

.guarantee-item {
    margin-bottom: 20px;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 10px;

        @media(max-width:767.98px) {
            justify-content: flex-start;
        }
    }

    .icon-box {
        font-size: 60px;
        color: var(--accent-color);
        padding: 0 0 20px;

        i {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
    }

    .title {
        color: #000;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        font-style: normal;
        margin: 0;
        text-align: center;
    }
}


/* Reviews */
.reviews {
    position: relative;

    &-column-5 {
        .reviews-logo-item {
            width: 20%;

            @media(max-width:769px) {
                width: 50%;
            }
        }
    }

    &-logos {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        &[class*=reviews-columns-] {
            width: calc(100% + 20px);
            max-width: 100vw;
            margin-left: -10px;
            margin-right: -10px;
        }
    }

    &-logo-item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px 25px;
        text-align: center;
        margin: 0;
    }

}



/* Newsletter */
.newsletter {
    width: 100%;
    padding: 35px 15px;
    background: #f4f3f1 url(../images/newsletter-bg.jpg) center right / contain no-repeat;

    &-inner {
        max-width: 620px;
        width: 100%;
        margin: 0 auto;

        .title {
            margin-bottom: 20px;
        }

        .desc {
            margin-bottom: 20px;
        }
    }

    &-form {
        display: flex;

        input {
            padding: 5px 15px;
            border-top: 1px solid #bbb;
            border-left: 1px solid #bbb;
            border-bottom: 1px solid #bbb;
            border-right: none;
            background-color: #fff;
            outline: 0;

            &:first-of-type {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                background-color: #fff;
            }
        }

        button {
            padding: 5px 15px;
            height: 40px;
            border-top: 1px solid #bbb;
            border-left: 1px solid #bbb;
            border-bottom: 1px solid #bbb;
            border-right: none;
            border-radius: 0;
        }
    }
}

.filter {
    &-sidebar {

        .reset-filter-button {
            background: 0 0;
            color: var(--accent-color);
            padding: 5px 0;
            border-radius: 0;
            letter-spacing: 0;
            text-transform: none;
            border: 0;
            border-bottom: 2px solid;
            line-height: 1;
            font-size: 1rem;

            &:hover {
                color: var(--sec-accent-color);
            }
        }

        &-inner {
            &-head {
                @media(max-width:767.98px) {
                    background: var(--accent-color);
                    color: #fff;
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 30px;

                    &::after {
                        font-family: fontawesome;
                        content: '\f107';
                    }
                }
            }
        }
    }

    &-area {
        .form-area-heading {
            font-size: 1.125rem;
            color: var(--gray-text);
            font-weight: 500;
            margin-bottom: 10px;
        }

        .filter-fields {
            margin-left: 0;

            li {
                margin: 5px 0;

                label {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }

                input[type="checkbox"] {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    width: 15px;
                    height: 15px;
                    cursor: pointer;
                    margin-right: 10px;

                    &::after {
                        content: '';
                        width: 15px;
                        height: 15px;
                        border: 1px solid var(--border-color);
                        border-radius: 2px;
                        display: block;
                        text-align: center;
                    }

                    &:checked::after {
                        content: '\2714';
                        background: var(--accent-color);
                        color: var(--white-text);
                        border-color: var(--accent-color);
                        font-size: 10px;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    &-form {
        @media(max-width:767.98px) {
            display: none;
        }
    }
}

.why-chooseus {
    margin-bottom: 70px;
    text-align: center;

    &-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        a {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media(max-width:576px) {
                flex-wrap: wrap;
            }
        }

        .reason-item {
            display: flex;
            flex-direction: column;
            padding: 0 15px;
            color: var(--gray-text);
            background-color: transparent;

            i {
                font-size: 3.75rem;
                color: var(--accent-color);
                margin-bottom: 10px;
            }

            .title {
                font-weight: normal;
                font-size: 16px;
                line-height: 1.4;
            }

            @media(max-width:576px) {
                width: 50%;
                margin-bottom: 20px;
            }
        }

        .separator {
            height: 80px;
            border-left: 1px dashed var(--border-color);
            width: 1px;
            display: none;

            @media(min-width:992px) {
                display: block;
            }
        }
    }

    &-block {
        width: 100%;
        position: relative;
        margin-bottom: 30px;

        .widget-title {
            text-align: center;
            font-size: 1.25rem;
            font-weight: 500;
            margin-bottom: 25px;
        }

        @media(min-width:992px) {
            width: calc(50% - 40px);
        }
    }
}

.hr-separator {
    max-width: 60%;
    border-top: 1px dashed var(--border-color);
    margin: 0 auto 30px;
    display: block;
    position: relative;
}

.pagination {
    width: 100%;
    display: flex;
    clear: both;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

    ul {
        margin-bottom: 0;

        li {
            display: inline-block;

            a {
                display: inline-block;
                min-width: 35px;
                padding: 0 5px;
                height: 35px;
                text-align: center;
                transition: all 300ms;
                margin: 0 2px;
                color: #000;
                line-height: 35px;
                font-size: 1.2rem;
                border-radius: 50%;
            }

            &.active,
            &:hover {
                a {
                    background: var(--accent-color);
                    color: #fff;
                }
            }
        }
    }
}

.regex-buidtour {
    position: relative;
    padding: 50px 0;

    &-text {
        display: block;
        margin-bottom: 20px;
    }
}

.combined-tours {
    position: relative;

    .item {
        position: relative;

        margin-bottom: 30px;
        padding: 0 10px;

        &-image {
            overflow: hidden;
            display: block;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 6/4;
                min-height: 230px;
                transition: all .5s;
            }
        }

        &-content {
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            text-align: center;
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: flex-end;
            color: #fff;
            transition: all 300ms;
            -webkit-transition: all 300ms;
            padding: 0 10px;

            .title {
                font-size: 15px;
                text-transform: uppercase;
                margin-bottom: 10px;
                transition: all 350ms;
            }
        }

        &:hover {
            .item-image {
                img {
                    transform: scale(1.05);
                }
            }
        }
    }
}

.details-tour {
    &-heading {
        padding: 30px;
        padding-top: 0;

        .intro-text {
            color: var(--accent-color);
            margin-bottom: 15px;
        }

        .title-detail {
            color: #000;
            font-size: 1.875rem;
            font-weight: 600;
            margin-bottom: 15px;
        }

        .tour-short-info {
            text-transform: uppercase;
            margin-left: 0;
            margin-bottom: 10px;
            font-size: 1.25rem;
            color: var(--black-text);
            color: gray;
        }

        .tour-program {
            width: 100%;
            margin-bottom: 30px;
            font-weight: 500;

            @media(min-width:768px) {
                color: gray;
            }
        }

        @media(min-width:768px) {
            text-align: center;
        }
    }

    &-info {
        background: var(--bg-block);
        margin-bottom: 50px;

        .contact-text {
            margin-top: 10px;
            color: var(--accent-color);
            font-weight: 700;

            a {
                color: inherit;
            }

            i {
                margin-right: 8px;
                font-size: 20px;
            }
        }
    }

    &-gallery {
        img {
            width: 100%;
            aspect-ratio: 6/4;
            object-fit: cover;
        }

        .tourgallery-nav {
            .item {
                padding: 5px;

                img {
                    border: 2px solid transparent;
                    transition: all .3s;
                    cursor: pointer;

                    &:hover {
                        border-color: var(--accent-color);
                    }
                }
            }
        }
    }

    &-desc {
        padding: 20px 0;

        &>ul {
            margin-left: 25px;
            margin-bottom: 0;

            li {
                padding: 5px 0;

                &::before {
                    content: '\f00c';
                    font-family: fontawesome;
                    color: var(--accent-color);
                    margin-left: -25px;
                    padding-right: 10px;
                }
            }
        }
    }

    &-tabs {
        .box-content-inner {
            padding: 20px 0;
            max-width: 1000px;
            margin: 0 auto;
            display: block;

            h2,
            h3,
            h4,
            h5,
            h6 {
                color: var(--sec-accent-color);
                margin-bottom: 30px;
            }

            ul {
                margin-left: 25px;
                list-style: disc;
            }
        }
    }
}

.create-tour {
    &.button-top {
        margin: 10px 0;
    }

    .btn {
        text-align: center;
        line-height: 20px;
        font-size: 1.125rem;
        letter-spacing: 0;
        padding: 10px 15px;
        border-radius: 10px;

    }
}

.related-tour {
    .item {
        padding: 0 10px;
    }
}

.tabs-control.nav-pills {
    margin: 0 0 20px;
    width: 100%;
    background: var(--bg-tab-heading);
    display: inline-flex;

    li {
        list-style: none;
        font-weight: 500;
        font-size: 1.25rem;
        display: inline-block;
        padding: 0;
        margin-right: 1px;

        button.nav-link {
            padding: 15px 35px;
            line-height: 25px;
            text-decoration: none;
            display: block;
            color: var(--black-text);
            border: 0;
            border-radius: 0;
            transition: all .3s;
            -webkit-transition: all .3s;

            &:hover,
            &.active {
                background: var(--accent-color);
                color: var(--white-text);
            }

            @media(max-width:576px) {
                padding: 15px 20px;
            }
        }
    }

    @media(max-width:1024px) {
        overflow-x: auto;
        flex-wrap: nowrap;
        white-space: nowrap;
    }
}

.destinations {
    &-list {
        padding: 40px 0;
    }

    &-slide {
        .item {
            padding-left: 15px;
            padding-right: 15px;
            position: relative;

            .box-image {
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    height: 350px;
                    transition: all .3s;

                    @media(max-width:767.98px) {
                        height: auto;
                        aspect-ratio: 5/8;
                    }
                }
            }

            .box-content {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #fff;

                .title {
                    text-shadow: 5px 8px 8px rgba(0, 0, 0, .5);
                }
            }

            &:hover {
                .box-image {
                    img {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }

    &-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 15px;

        .item {
            a {
                display: flex;
                align-items: center;

                .icon-box {
                    margin-right: 10px;
                }
            }
        }

        @media(max-width:767.98px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media(max-width:576px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.category-description {
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 30px;

    .title {
        color: #168b02;
    }
}

.blogs {
    &-item {
        margin-bottom: 35px;

        .item-inner {
            .box-image {
                position: relative;
                overflow: hidden;
                margin-bottom: 5px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    aspect-ratio: 6/4;
                }
            }

            .box-content {
                .title {
                    font-size: 1.125rem;
                    margin-bottom: 10px;
                    line-height: 1.2;
                    min-height: 25px;
                    font-weight: 600;

                    a {
                        color: var(--primary-color);

                        &:hover {
                            color: var(--accent-color);
                        }
                    }
                }

                .desc {
                    line-height: 1.2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }


    &-detail {
        .title-detail {
            text-align: left;
            width: 100%;
            font-size: 2rem;
            margin-bottom: 30px;
            font-weight: 600;
            color: #000;
        }

        &-content {
            display: block;
            padding: 0 0 40px;

            h2,
            h3,
            h4,
            h5,
            h6 {
                color: #168b02;
            }
        }
    }
}

.related-post {
    margin-bottom: 30px;

    .blogs-item {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.content-separator {
    width: 200px;
    margin-bottom: 15px;
    border-top: 1px dashed var(--black-text);
    position: relative;
}

.custom-search-form {
    position: relative;

    input {
        border-color: var(--border-color);
        margin: 0;
        height: 40px;
        line-height: 40px;
        outline: 0;
    }

    button {
        position: absolute;
        color: #000;
        right: 0;
        top: calc(50% - 20px);
        border: none;
        font-size: 1rem;
        background: 0 0;
        width: 40px;
        height: 40px;
        cursor: pointer;
        padding: 0;
        text-align: center;
    }
}

.sidebar {
    font-size: .875rem;

    .widget {
        margin-bottom: 30px;

        &-title {
            width: 100%;
            text-align: center;
            background: var(--primary-color);
            border-radius: 5px;
            padding: 10px 15px;
            color: var(--white-text);
            font-size: 1.25rem;
            margin-bottom: 25px;
            font-weight: 600;
        }

        &-content {
            ul {
                li {
                    padding: 5px 0;

                    &:first-child {
                        padding-top: 0;
                    }

                    &::before {
                        content: '';
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: var(--accent-color);
                        margin-right: 8px;
                        display: inline-block;
                    }

                    a {
                        color: var(--black-text);
                    }
                }
            }
        }

        &-contact-block {
            border: 1px solid var(--accent-color);
            padding: 25px;

            .title-contact {
                color: var(--black-text);
                font-size: 1rem;
                font-weight: 500;
                margin-bottom: 15px;
            }

            p {
                font-style: italic;
                margin-bottom: 15px;
            }

            .contact-block-btn {
                margin: 0 auto;
                border-radius: 10px;
                color: var(--white-text);
                background: var(--btn-color);
                font-weight: 500;
                font-size: 1rem;
                letter-spacing: 0;
                width: 100%;
                text-align: center;

                &:hover {
                    background: var(--hover-btn-color);
                    color: var(--white-text);
                }
            }
        }

        &-tags {
            .tagclound {
                a {
                    font-size: 15px !important;
                    border: none;
                    background: #f5f5f5;
                    padding: 8px 15px;
                    line-height: 20px;
                    margin: 5px 5px 5px 0;
                    display: inline-block;
                    color: #000;
                }
            }
        }
    }

}

.about {
    .box-image {
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}

.video-about {
    &-wrap {
        border-style: solid;
        border-width: 0;
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
        transition: background .3s,
            border .3s,
            border-radius .3s,
            box-shadow .3s;
        // margin-top: -115px;
        margin-bottom: 0;
        padding: 40px;
        background-color: #fff;
    }
}

.booking {
    background-color: #faf9f8;

    .section-heading {
        transition: background .3s,
            border .3s,
            border-radius .3s,
            box-shadow .3s;
        margin-top: -50px;
        margin-bottom: -25px;
        padding: 30px;
        background-color: #fff;
    }

    &-form-wrap {
        position: relative;
        background-color: #fff;
        padding-top: 50px;
        padding-bottom: 60px;

        &-inner {
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }

        .title-step {
            font-size: 1.375rem;
            color: var(--accent-color);
            margin-bottom: 30px;
        }

        .form-group {

            input,
            select,
            textarea {
                margin-bottom: 0;
                outline: 0;
            }

            &>label {
                font-size: 1.125rem;
                font-weight: 500;
                margin-bottom: 10px;
                display: block;
            }

            .note-input-field {
                font-size: 14px;
                font-weight: 300;
                margin-top: 5px;
            }

            .group-checkbox {
                .item {
                    margin-bottom: 10px;
                    margin-left: 0;
                    display: flex;
                    align-items: center;

                    input {
                        appearance: none;
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                        margin-top: 0;

                        &::after {
                            content: '';
                            width: 20px;
                            height: 20px;
                            border: 1px solid var(--border-color);
                            border-radius: 2px;
                            display: block;
                            text-align: center;
                            font-size: 13px;
                        }

                        &:checked::after {
                            content: '\f00c';
                            font-family: fontawesome;
                            background: var(--accent-color);
                            color: var(--white-text);
                            border-color: var(--accent-color);
                        }
                    }

                    label {
                        margin-bottom: 0;
                    }
                }
            }

            .field-row {
                width: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 5px;
                gap: 10px;

                select {
                    width: 80px;
                }

                label {
                    margin-bottom: 0;
                }
            }


            textarea {
                padding: 10px 15px;
                min-height: 130px;
                font-size: 1rem;
                line-height: 1.6;
            }
        }

    }
}

.contact {
    &-info {
        ul {
            li {
                margin-bottom: 10px;

                a {
                    color: var(--accent-color);
                }
            }
        }
    }

    &-form {
        position: relative;
        margin: 50px 0;
    }
}

.testimonials-page {
    .testimonials-heading {
        margin-bottom: 50px;

        .page-title {
            text-align: center;
            margin-bottom: 30px;
            font-size: 1.625rem;
        }

        .desc {

            h2,
            h3,
            h4,
            h5,
            h6 {
                color: var(--accent-color);
            }
        }
    }

    .testimonial-filter {
        margin-bottom: 50px;

        .title-filter-block {
            font-size: 1.25rem;
            color: var(--gray-text);
            font-weight: 500;
            margin-bottom: 30px;
        }

        .btn {
            border-radius: 15px;
            border: 2px solid var(--accent-color);
            background: 0 0;
            color: var(--accent-color);
            letter-spacing: 0;
            font-weight: 500;
            font-size: 1rem;
            text-transform: capitalize;
            line-height: 25px;

            &:hover {
                background: var(--hover-accent-color);
                border-color: var(--hover-accent-color);
                color: var(--white-text);
            }
        }
    }
}

.testimonial-list {
    .item {
        margin-bottom: 30px;

        .box-content {
            .title {
                font-size: 1.125rem;
                margin-bottom: 5px;

                a {
                    color: var(--primary-color);
                    line-height: inherit;
                }
            }

            .box-info {
                li {
                    margin-bottom: 5px;
                    font-style: italic;

                    i {
                        margin-right: 10px;
                        font-size: 120%;
                    }
                }
            }

            .box-desc {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                -webkit-box-orient: vertical;
            }

            @media(min-width:768px) {
                padding-left: 30px;
            }
        }
    }
}

.testimonials-detail {
    &-content {
        .content-title {
            color: var(--accent-color);
            margin-bottom: 30px;
        }
    }

    &-sidebar {
        padding: 15px 20px;
        border: 1px solid var(--light-gray);
        width: 100%;
        margin-bottom: 30px;

        .testimonial-info {
            margin: 0;
            padding-top: 30px;

            li {
                list-style: none;
                margin-bottom: 10px;
                width: 100%;
                display: inline-block;

                .label-testimonial {
                    width: 100%;
                    margin-bottom: 5px;
                    display: inline-block;
                    font-weight: 600;
                    font-size: 18px;
                }
            }

            img {
                margin: 10px auto 5px;
                width: 100%;
            }

            .read-more {
                margin-top: 10px;
                color: var(--accent-color);
                width: 100%;
                text-align: center;
                display: inline-block;
            }
        }
    }
}

.faqs {
    .section-heading {
        margin-bottom: 50px;
    }

    &-list {
        .item {
            border-top: 1px dashed #000000;
            padding-top: 15px;
            padding-bottom: 15px;

            &:last-child {
                border-bottom: 1px dashed #000000;
            }

            &-head {
                color: #276327;
            }

            &-content {
                color: #474747;
                text-align: justify;
            }
        }
    }
}